@font-face {
	font-family: 'Arial';
	src: url(../f/arial-webfont.woff);
}
@font-face {
	font-family: 'Times';
	src: url(../f/times_new_roman-webfont.woff);
}
@font-face {
	font-family: 'Times Italic';
	src: url(../f/times_new_roman_italic-webfont.woff);
}
* {
    margin: 0;
}
main {
    scroll-behavior: smooth
}
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth
}
p {
    font-family: "Times";
    font-size: 10pt;
}
a {
    font-size: 10pt;
    text-decoration: none;
    color: black;
}
a:hover {
    
    font-family: "Times Italic";
    transition: ease-in-out 200ms;
    transition-delay: 50ms;
    color: blue;
}
/* a:hover::before {
    content: "🔗 ";
} */
.left-logo {
    height: 25pt;
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.right-logo {
    height: 25pt;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.foldout-btn {
    height: 20pt;
    transition: 300ms ease-in-out;
}
.foldout-btn:hover {
    transition: 300ms ease-in-out;
}
.foldout-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    translate: -50%;
    width: 600px;
    height: 25pt;
    text-align: center;
    align-items: center;
    transition: 250ms ease-in-out;
}
.foldout-container:hover {
    transition: 250ms ease-in-out;
}
.navigation {
    height: 100%;
    width: 100%;
}
.navbar {
    opacity: 0;
    transition: 200ms ease-in-out;

    width: 100vw;
    height: 30pt;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    bottom: 20px;
}
.navbar:hover {
    opacity: 1;
    transition: 200ms ease-in-out;
}
nav {
    position: fixed;
    bottom: 27px;
}
ul {
    list-style: none;
    padding: 0;
    vertical-align: middle;
}
li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3rem;
    margin-right: 3rem;
    transition: 200ms ease-in-out;
}
li:hover {
    transition: 200ms ease-in-out;
}
.gallery-container {
    /*display: grid;
    grid-auto-columns: min-content;
    gap: 0;*/
    /*display: inline-flex;*/
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    /*height: 90vh;
    scrollbar-width: none;*/
    position: relative;
}
.scroll-content {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* For Firefox */
    width: 100vw; /* or the width of your container */
    height: fit-content;
    padding-bottom: 5rem;
}
.projektgallerie {
    scroll-snap-align: start;
    height: 100vh;
    overflow: hidden;
}
#about {
    scroll-behavior: smooth;
}
.about-block {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.aboutgrid {
    height: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto 1fr;
    gap: 1rem;
}
.general {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 0.5rem;
}
.education {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    width: 100%;
    gap: 0.5rem;
}
.profex {
    grid-column: 3;
    grid-row: 3;
    display: grid;
    width: 100%;
    gap: 0.5rem;
    grid-auto-rows: min-content;
}
.vol-ex {
    grid-column: 4;
    grid-row: 3;
    display: grid;
    width: 100%;
    gap: 0.5rem;
    grid-auto-rows: min-content;
}
h1 {
    width: 100%;
    text-transform: none;
    font-size: unset;
    font-family: "Times";
    font-weight: normal;
    font-size: 10pt;
}
.about-h {

}
hr {
    width: 100%;
    height: 1px;
    border-width: 0;
    color: black;
    background-color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.scroll-content::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.project-thumbnail {
    /*grid-column: auto;
    grid-row: 1;*/
    position: relative;
    width: 300px;
    height: fit-content;
    /*flex-shrink: 0;*/
    flex-shrink: 0;
    /*overflow: hidden;*/
    transition: 1.5s ease-in-out; /* Add transition effect */
}
.project-info-container {
    /*width: 300px;
    height: auto;
    box-sizing: border-box;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    opacity: 0;

    transition: ease-in-out 350ms;
    transition-delay: 150ms;
}
.project-info-container-shrink {
    background: rgba(255, 255, 255, 0);
    opacity: 1;
    transition: ease-in-out 350ms;
    transition-delay: 150ms;
}
.project-info-container p {
    margin: 10px;
}
.project-thumbnail:hover .project-info-container {
    opacity: 1;
}
.project-thumbnail:hover .thumbnail-img {
    opacity: 0;
}
.project-title, .project-year, .project-description {
    position: absolute;
    font-family: "Times";
}
.project-title {
    font-family: "Times Italic";
    display: inline-block;
    transition: ease-in-out 350ms;
    transition-delay: 300ms;
}
.project-title-shrink {
    opacity: 0;
    transition: ease-in-out 350ms;
}
/*.project-title-shrink {
    position: absolute;
    font-family: "Times Italic";
    flex-wrap: wrap;
    width: 300px;
    left: 10px;
    bottom: calc(-200%);
}*/

.project-year {
    display: inline-block;
    right: 0;
    transition: ease-in-out 300ms;
    transition-delay: 300ms;
}
.project-year-shrink {
    opacity: 0;
    transition: ease-in-out 300ms;
}
.project-description {
    bottom: -5px;

    text-wrap: wrap;
    transition: ease-in-out 300ms;
    transition-delay: 150ms;
}
.project-description-shrink {
    bottom: calc(-100% - 0.8rem);
    transition: ease-in-out 300ms;
    transition-delay: 300ms;
}

.project-number {
    position: absolute;
    font-family: "Times";
    bottom: calc(0% - 1rem - 8px);

    left: 10px;
    transition: ease-in-out 550ms;

    transition-delay: 150ms;

}
.project-number-shrink {
    bottom: calc(-100% - 2rem);
    transition: ease-in-out 450ms;
    transition-delay: 150ms;
}
.project-number::before {
    content: "(";
}
.project-number::after {
    content: ")";
}


.thumbnail-img {
    width: 100%;
    transition: opacity 250ms ease;
    /*translate: 0% -100%;*/
}
.thumbnail-img:hover {
    opacity: 0;
}
/* Control flex-shrink property */
.no-shrink {
    flex-shrink: 1;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
    font-family: "Times";
    font-size: 10pt;
}
button:hover {
    font-family: "Times Italic";
    cursor: pointer;
    transition: ease-in-out 200ms;
    transition-delay: 50ms;
    color: blue;
}
button:hover::before {

}

/*PROJECT GALLERY VIEW*/
.vertical-gallery {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    align-items: center;

}
.gallery-img-fullscreen {
    scroll-snap-align: start;
    height: 100vh;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}
.projekttexte-overlay {
    width: 35%;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    mix-blend-mode: difference;
}
.projekttexte-overlay p {
    font-family: "Times Italic";
    color: white;
    height: fit-content;
    
}
.projekt-titel {
    text-align: left;
}
.projekt-jahr {
    text-align: right;
}
.projekt-img-number {
    text-align: center;
}
.projekt-img-number::before {
    content: "(";
}
.projekt-img-number::after {
    content: ")";
}
iframe {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: none;
}
.show-iframe {
    display: block;
}

.open-project-btn {
    font-family: "Times Italic";
    margin: 0;
    padding: 0;
}
.open-project-btn:hover::before {
    content: unset;
}

.close-btn {
    font-family: "Times";
    position: fixed;
    top: 10px;
    left: 10px;
}
.close-btn:hover::before {
    content: "⚒️ ";
}